html{
    margin: 0;
    padding: 0;
}

section{
    text-align: center;
    width: 800px;
    height: 300px;
    margin: 0 auto;
}
div{
    margin: 0 auto;
    box-shadow: 0 0 5px 1px black;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    text-align: center;

}
h1{
    margin-top: 40px;
}
button{
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 2px black;
    padding: 5px;
}
button a{
    text-decoration: none;
    color: black;
}