body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

/* cadastro */
#imagem {
    margin: 0 auto;
    width: 100px;
    height: 110px;
}

#imagem img {
    width: 100px;
    height: 100px;
}

#cardMenu {
    width: 400px;
    height: 400px;
    box-shadow: 0 0 30px black;
    border-radius: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: rgba(7, 7, 7, 0.247);
    border: 1px solid white;
    display: none;
}

#cardMenu input {
    border: none;
    box-shadow: 0 0 5px black;
    border-radius: 10px;
    height: 30px;
    width: 150px;
    margin-bottom: 10px;
}

#cardMenu button {
    border: none;
    box-shadow: 0 0 5px black;
    padding: 6px;
    border-radius: 5px;
    background-color: rgb(7, 242, 7);
    color: white;
    transition: 0.6s;
    cursor: pointer;
}

#cardMenu button:hover {
    transition: 0.6s;
    width: 52px;
    box-shadow: 2px 2px 3px black;
}

#cardMenu button:active {
    background-color: purple;
    transition: 0.1s;
}

/* fim do cadastro */

/*cartas*/
#cartas {
    width: 100%;
    height: 100%;
    transition: 1s;
    margin: 10px 0 20px 0;
    perspective: 1000px;
}

#cartas img {
    height: 150px;
    width: 100px;
    box-shadow: 0 0 20px black;
    border-radius: 5px;
    border: 1px solid white;
}

#linha1,
#linha2,
#linha3 {
    width: 85%;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 20px;
}

.innerCard {
    position: relative;
    transform-style: preserve-3d;
    width: 120px;
    height: 150px;
}

.frontFace,
.backFace {
    height: 150px;
    width: 100px;
    backface-visibility: hidden;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.477);
}

.backFace {

    transform: rotateY(180deg);
}

@media only screen and (max-width: 480px) {
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        background-image: url(../images/background_Smartphone.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        color: white;
    }

    /* cadastro */
    #imagem {
        margin: 0 auto;
        width: 100px;
        height: 110px;
    }

    #imagem img {
        width: 100px;
        height: 100px;
    }

    #cardMenu {
        width: 350px;
        height: 500px;
        box-shadow: 0 0 30px black;
        border-radius: 30px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        background-color: rgba(7, 7, 7, 0.416);
        border: 1px solid white;
    }

    #cardMenu input {
        border: none;
        box-shadow: 0 0 5px black;
        border-radius: 10px;
        height: 30px;
        width: 170px;
        margin-bottom: 10px;
    }

    #cardMenu button {
        border: none;
        box-shadow: 0 0 5px black;
        padding: 6px;
        border-radius: 5px;
        background-color: rgb(7, 242, 7);
        color: white;
        transition: 0.6s;
        cursor: pointer;
        width: 80px;
    }

    #cardMenu button:hover {
        transition: 0.6s;
        width: 52px;
        box-shadow: 2px 2px 3px black;
        width: 80px;
    }

    #cardMenu button:active {
        background-color: purple;
        transition: 0.1s;
        width: 90px;
    }

    /* fim do cadastro */

    /*cartas*/
    #cartas {
        width: 100%;
        height: 100%;
        display: none;
        transition: 1s;
        margin: 5px 0 20px 0;
        perspective: 1000px;
    }

    #cartas img {
        height: 110px;
        width: 70px;
        box-shadow: 0 0 20px black;
        border-radius: 5px;
        border: 1px solid white;
    }

    #linha1,
    #linha2,
    #linha3 {
        width: 100%;
        height: 270px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        gap: 10px;
        flex-wrap: wrap;
    }

    .innerCard {
        position: relative;
        transform-style: preserve-3d;
        width: 70px;
        height: 110px;
    }

    .frontFace,
    .backFace {
        height: 110px;
        width: 70px;
        backface-visibility: hidden;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.477);
    }

    .backFace {

        transform: rotateY(180deg);
    }

}